.navbars-cover{
    width: 100%;
    height: 60px;
    background-color: white;
  }

  ul li a{
      text-decoration: none;
      color: black;
  }

  .navbars-bottom{
      position: relative;
      margin-top: 60px;
  }

.my-color{
    background-color: #fb0;
}

.recherche{
    padding: 15px;
}

.form-recherche{
    border-top: white; 
    border-left: white; 
    border-right: white;
}

.form-recherche:hover{
    border-top: white; 
    border-left: white; 
    border-right: white;
}


